@mixin list-with-item-action {
  margin-top: $separator-spacing;

  ul {
    margin-top: $base-spacing;
  }

  li {
    @extend %tile;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .title,
  .email {
    margin-right: $base-spacing;
  }
}
