<ul class="invitations">
  <% @invitations.each do |invitation| %>
    <li>
      <span class="title"><%= invitation.calendar.title %></span>
      <%= link_to 'Accept', permissions_path(invitation_id: invitation), method: :post %>
    </li>
  <% end %>
</ul>
