<%= simple_form_for(calendar) do |form| %>
  <%= form.input :title %>
  <div class="actions">
    <%= form.submit %>
    <% if calendar.persisted? %>
      <%= link_to(
        t('helpers.action.calendar.destroy'),
        calendar_path(calendar),
        method: :delete,
        data: { confirm: t('helpers.messages.calendar.confirm_delete') }
      ) %>
    <% end %>
  </div>
<% end %>
