<ul class="calendars">
  <% @calendars.each do |calendar| %>
    <li>
      <span class="title"><%= calendar.title %></span>
      <%= link_to t('helpers.action.calendar.edit'), edit_calendar_path(calendar) %>
    </li>
  <% end %>
</ul>
