* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $out-gray;
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $font-size-base;
  display: flex;
  height: 100%;
  line-height: $base-line-height;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  overflow: scroll;
  padding: $base-spacing;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: $large-spacing;
  max-width: $content-width;
}

a {
  color: $link-color;
  text-decoration: none;
}

a.action {
  background-color: $alt-action-background-color;
  border-radius: $action-border-radius;
  color: $action-text-color;
  display: block;
  margin-bottom: $action-margin;
  margin-top: $action-margin;
  padding: $action-padding;
  text-align: center;

  &:active,
  &:focus,
  &:hover {
    background-color: $active-action-background;
    color: $alt-action-background-color;
  }
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style-position: inside;
  list-style-type: none;
  margin-bottom: $small-spacing;
}

h2, h3 {
  margin: 0;
}
