$non-month-background-color: $light-gray;

section.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;

  div.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  nav,
  header,
  div.days {
    display: flex;
  }

  nav {
    align-items: center;
    justify-content: space-between;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  nav a {
    color: $link-color;
    padding: $small-spacing;
    text-decoration: none;
  }

  nav .month-and-year {
    font-size: $font-size-large;
  }

  header div,
  div.day {
    flex-grow: 1;
    flex-basis: 0px;
    overflow: hidden;
  }

  header div {
    background-color: $light-gray;
    font-family: $ingra-font;
    margin-left: $small-spacing;
    margin-top: $small-spacing;
    text-align: center;
  }

  div.day {
    background-color: $white;
    margin-left: $small-spacing;
    margin-top: $small-spacing;
  }

  div.week {
    display: flex;
    flex-basis: 0px;
    flex-grow: 1;
  }

  div.day {
    color: $medium-gray;

    &:hover {
      a.new-event {
        display: inline;
      }
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: $small-spacing $small-spacing * 2;
    }

    a.new-event {
      display: none;
    }
  }

  .day.not-month {
    background-color: $non-month-background-color;
  }

  div.day.today {
    color: $accent-color;
    position: relative;

    header {
      background-color: $accent-color;
      color: white;

      a {
        color: white;
      }
    }
  }

  ul.events {
    font-family: $ingra-font;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    li {
      color: black;
      overflow: hidden;
      padding: 0 $small-spacing * 2;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
