$non-month-background-color: $light-gray;

section.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;

  div.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  nav,
  header {
    display: flex;
  }

  nav {
    justify-content: center;
    margin-bottom: $base-spacing;
  }

  nav a {
    @include hide-text;
    background-color: $alt-background;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: $base-border-radius;
    color: $link-color;
    display: block;
    flex-basis: $large-spacing;
    flex-grow: 0;
    flex-shrink: 0;
    height: $large-spacing;
    text-decoration: none;
  }

  nav a:hover,
  nav a:active,
  nav a:focus {
    background-color: $active-action-background;
  }

  nav a.previous {
    background-image: url(asset-path('previous.svg'));
  }

  nav a.next {
    background-image: url(asset-path('next.svg'));
  }

  nav .month-and-year {
    align-self: center;
    font-size: $font-size-large;
    margin-left: $base-spacing;
    margin-right: $base-spacing;
  }

  header div,
  div.date {
    flex-grow: 1;
    flex-basis: 0px;
    overflow: hidden;
  }

  header div {
    background-color: $light-gray;
    font-family: $ingra-font;
    margin-left: $small-spacing;
    margin-top: $small-spacing;
    text-align: center;
  }

  div.week {
    display: flex;
    flex-basis: 0px;
    flex-grow: 1;
  }

  div.date {
    background-color: $white;
    color: $medium-gray;
    display: flex;
    flex-direction: column;
    margin-left: $small-spacing;
    margin-top: $small-spacing;

    &:hover {
      .new-event {
        display: inline;
      }

      header .set-today {
        display: inline;
      }
    }

    .new-event,
    .set-today {
      color: $light-text-color;
      display: none;

      &:hover {
        color: $accent-color;
      }
    }

    header {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      padding: $small-spacing $small-spacing * 2;
    }

    .new-event {
      margin-bottom: $small-spacing * 2;
    }
  }

  .date.not-month {
    background-color: $non-month-background-color;
  }

  div.date.today {
    color: $accent-color;
    position: relative;

    header {
      background-color: $accent-color;
      color: white;

      a {
        color: white;
      }
    }
  }

  ul.events {
    margin-bottom: 0;
    margin-top: 0;
    overflow: scroll;
    padding-left: 0;
    -webkit-overflow-scrolling: touch;
  }

  ul.events li,
  .new-event {
    font-family: $ingra-font;
    overflow: hidden;
    padding: 0 $small-spacing * 2;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
