ul.flashes {
  $icon-border-radius: 2px;
  $icon-size: 5px;

  margin-bottom: $base-spacing;

  li {
    align-items: center;
    color: $medium-text-color;
    display: flex;
    list-style-type: none;
    margin-bottom: $small-spacing;

    &:before {
      border-radius: 50%;
      border-style: solid;
      border-width: $icon-border-radius;
      content: '';
      flex-basis: $icon-size;
      flex-grow: 0;
      flex-shrink: 0;
      height: $icon-size;
      margin-right: $base-spacing;
    }
  }

  li.notice {
    &:before {
      border-color: $notice-color;
    }
  }

  li.error {
    &:before {
      border-color: $error-color;
    }
  }
}
