form {
  label {
    display: block;
    padding-bottom: $small-spacing;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    padding-top: $base-spacing;
  }

  #{$all-text-inputs} {
    background-color: white;
    border: none;
    font-family: $base-font-family;
    font-size: $font-size-base;
    display: block;
    padding: $base-spacing;
    width: 100%;

    &:focus {
      outline: $base-outline;
    }
  }

  #{$all-buttons} {
    background-color: $accent-color;
    border: none;
    border-radius: $base-border-radius;
    color: white;
    cursor: pointer;
    font-family: $base-font-family;
    font-size: $font-size-base;
    margin: 0;
    margin-top: $base-spacing + $small-spacing + 1rem;
    padding: $base-spacing;
    -webkit-appearance: none;

    &:active,
    &:focus,
    &:hover {
      background-color: white;
      color: $accent-color;
    }
  }

  div.actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: $base-spacing + $small-spacing + 1rem;

    input[type=submit] {
      margin-top: 0;
    }
  }

  select {
    width: 100%;
  }
}
