aside.sidebar {
  background-color: $alt-background;
  display: flex;
  flex-basis: $sidebar-width;
  flex-direction: column;
  flex-shrink: 0;
  padding: $base-spacing;

  .calendar-list {
    li {
      border-radius: $base-border-radius;
      margin-bottom: $small-spacing;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &[data-current=true],
      &:active,
      &:focus,
      &:hover {
        background-color: $sidebar-highlight-background;
      }

      &[data-current=true] a {
        color: $accent-color;
      }

      a {
        color: $medium-text-color;
      }
    }

    a {
      display: block;
      padding: $small-spacing;
    }
  }

  .calendar-actions {
    flex-grow: 1;
    margin-top: $base-spacing;
  }

  nav.signed-out {
    margin-bottom: auto;
    margin-top: auto;
  }

  .action {
    background-color: $alt-action-background-color;
    border-radius: $action-border-radius;
    color: $action-text-color;
    display: block;
    margin-bottom: $action-margin;
    margin-top: $action-margin;
    padding: $action-padding;
    text-align: center;

    &:active,
    &:focus,
    &:hover {
      background-color: $sidebar-highlight-background;
      color: $alt-action-background-color;
    }
  }
}
