aside.sidebar {
  background-color: $alt-background;
  display: flex;
  flex-basis: 200px;
  flex-direction: column;
  flex-shrink: 0;
  padding: $base-spacing;

  nav.calendar-actions {
    flex-grow: 1;
    margin-top: $base-spacing;
  }

  .action {
    background-color: $alt-action-background-color;
    border-radius: $action-border-radius;
    color: $action-text-color;
    display: block;
    margin-bottom: $action-margin;
    margin-top: $action-margin;
    padding: $action-padding;
    text-align: center;

    &:active,
    &:focus,
    &:hover {
      background-color: $action-text-color;
      color: $alt-action-background-color;
    }
  }
}
