$out-gray: #e6e8eb;
$medium-gray: #bbb;
$white: #fff;
$light-gray: mix($out-gray, $white, 30%);
$geraldine: #f75557;
$fair-pink: #ffecec;
$citrine-white: #f8f4d5;
$kumera: #97732e;

$base-border-color: $medium-gray;
$base-border-radius: 5px;
$accent-color: $geraldine;
$link-color: $accent-color;
$notice-bg-color: $citrine-white;
$notice-color: $kumera;
$error-bg-color: $fair-pink;
$error-color: $geraldine;

$base-border: 1px solid $base-border-color;
$base-outline: 2px solid transparentize($accent-color, .4);
$site-background: $out-gray;
$alt-background: $light-gray;
$alt-action-background-color: $accent-color;

$form-width: 400px;
$base-border-radius: 3px;

$small-spacing: 0.2rem;
$base-spacing: 1rem;
$large-spacing: 2rem;
$base-line-height: 1.5em;

$font-size-base: 16px;
$font-size-large: 24px;

$brothers-font: "brothers";
$ingra-font: "ingra-2";
$base-font-family: $brothers-font;

$action-margin: $small-spacing;
$action-padding: $small-spacing $base-spacing;
$action-border-radius: $base-border-radius;
$action-text-color: $white;
