<aside class="sidebar">
  <ul class="calendar-list">
    <% current_user.calendars.each do |calendar| %>
      <li><%= link_to calendar.title, calendar_path(calendar) %></li>
    <% end %>
  </ul>
  <nav>
    <ul>
      <li><%= link_to current_user.email, nil %></li>
      <li><%= link_to 'Sign out', session_path, method: :delete %></li>
    </ul>
  </nav>
</aside>
