<!DOCTYPE html>
<html>
  <head>
    <title>AbsalomReckoning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.typekit.net/qot5kvk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
